@charset "UTF-8";
/*****************
PC設定
*****************/

/*PC共通設定*/
body{
  font-family: 'Hachi Maru Pop', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
  color: #333333;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
}
a:link, a:visited, a:hover, a:active, a:focus{
  color: inherit;
  text-decoration: none;
}
a img{
  border: none;
}
header{
  padding: 15px 0;
}
.container{
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  position: relative;
}
.contents{
  margin: 100px 0;
}
.block_logo img{
  vertical-align: bottom;
}
nav{
  top: 0;
  right: 15px;
  position: absolute;
}
nav ul{
  margin: 0;
  padding: 0;
}
nav ul::after{
  content: '';
  clear: both;
  display: block;
}
nav ul li{
  padding-left: 1.5em;
  list-style: none;
  float: left;
  color: #ffaade;
  font-size: 24px;
}
footer{
  padding: 10px 0;
  background-color: #8B807A;
}
.copyright{
  color: #ffaade;
  text-align: center;
}
nav ul li a:hover{
  color: #6B8E23;
  text-decoration: underline;
}

/* トップページ設定 */

#top{
    background-image: url('../images/img_top1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; /*背景固定化*/
}
#top footer{
  background-color: transparent;
}
h1.top_message{
  margin-bottom: 100px;
  color: #B85C38;
  font-size: 28px;
  line-height: 1.4;
  letter-spacing: 0.2em;
  text-align: center;
}
h2.info_message{
  margin: 10px 0;
  color: #8B807A;
  font-family: 'Courgette', cursive;
  font-size: 28px;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
}
.information{
  margin: 0 auto;
  padding:  20px 0;
  width: 100%;
  max-width: 700px;
  height: 160px;
  background-color: rgba(100, 100, 100, .4);
  border-radius: 8px;
  overflow: auto;
  color: #ac3100;
}
.information table{
  width: 100%;
  border-collapse: collapse;
}
.information table th{
  padding: 0 1em;
  width: 100px;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
}
.information table td{
  padding: 0;
  font-weight: bold;
  vertical-align: top;
}

/* 利用規約設定 */
.policy-title{
    font-family: "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif; 
    font-size: 300%;
    padding-left: 1ex;
    padding-top: 30px;
}
.terms-of-service {
    font-family: "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif; 
    font-size: 1.05em;
    line-height: 1.7;
    padding-bottom: 1px;
    padding-top: 30px;
}
.last-paragraph{
    padding-bottom: 60px;
}

/* ゲーム一覧設定 */
.container::after{
  content: '';
  clear: both;
  display: block;
}
.title_page{
  margin-top: .8em;
  padding-left: 1ex;
  font-size: 36px;
  line-height: 1.2;
  color: #B85C38;
}
.index{
  margin-bottom: 1.2em;
  padding-left: .5em;
  border-left: 6px solid #4e3618;
  font-size: 22px;
  color: #4e3618;
  line-height: 1.4;
}
section{
  padding: 60px;
}
section::after{
  content: '';
  clear: both;
  display: block;
}
.img_float_r{
  padding-left: 15px;
  padding-bottom: 15px;
  float: right;
}
.block_flex{
  display: flex;
  flex-wrap: wrap;
}
.flex_item{
  padding: 0 10px 20px;
  width: 33.33%;
  box-sizing: border-box;
}
.img_menu{
  text-align: center;
}
.img_menu img{
  max-width: 100%;
}
.flex_item h3{
  font-size: 18px;
  font-weight: normal;
}
.flex_item p{
  text-align: right;
  font-size: 14px;
}
.list{
  list-style-type: none;
}
/* 連絡フォーム設定 */
.block_contact{
  padding: 60px;
  background-color: #eeeeee;
}
.block_contact dl{
  margin: 0;
  font-size: 18px;
  line-height: 1.8;
  width: 100%;
  display: table;
}
.block_contact dl dt, .block_contact dl dd{
  padding: .5em 0;
  display: table-cell;
}
.block_contact dl dt{
  width:  180px;
  vertical-align: top;
}
.required{
  font-size: 12px;
  color: #ff0000;
  font-style: oblique;
}
input{
  font-size: 18px;
  line-height: 1.8;
}
input[type="text"], input[type="email"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: .3em .5em;
  width: 260px;
  line-height: 1;
  border: 1px solid #aaaaaa;
  border-radius: 0;
}
.block_contact dl dd.btn{
  text-align: center;
}
input[type="submit"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 5px 30px;
  font-size: 20px;
  color: #ffffff;
  background-color: #0099cc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .2s linear;
}
input[type="submit"]:hover{
  background-color: #00bbee;
}
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: .3em 3em .3em .5em;
  font-size: 16px;
  border: 1px solid #aaaaaa;
  border-radius: 0;
  background-color: #ffffff;
  background-image: url('../images/img_list.png');
  background-position: center right;
  background-repeat: no-repeat;
}
select::-ms-expand{
  display: none;
}
textarea{
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: .5em;
  width: 90%;
  font-size: 18px;
  border: 1px solid #aaaaaa;
  border-radius: 0;
}
/*****************
スマートフォン設定
*****************/

@media(max-width: 767px) {
  /* スマートフォン共通設定*/
  body{
    font-size: 12px;
  }
  nav{
    position: relative;
  }
  nav ul li{
    padding-left: 1.2em;
    font-size: 20px;
  }
  .block_logo img{
    width: 200px;
  }
}

/*ページ共通設定*/
.index{
  font-size: 16px;
}
